<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /locket/control/
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ roteador_principal.php/$1 [L,QSA]
</IfModule>
